/* Styling goes in this file */
title {
	font-family: Arial;
}


h1{
	text-align: center;
	font-size: 30px

}

h2{
	text-align: center;
	font-size: 30px

}
table{
	text-align: center;
	border: 0;
	border-bottom: 1px linen;

}

.mytable{
	margin: 0 auto;
	height: 90px;
	width: 1000px}

th{background-color: lightblue;
	text-align: center;}


h3{
	text-align: center;
	font-size: 30px;
}

h4{
	text-align: left;
	font-size: 20px
}

h5{
	text-align: left;
	font-size: 20px
}

h6{
	text-align: left;
	font-size: 20px
}

.container{
	display: flex;
	margin: 15px;
	justify-content: space-between;
	flex-direction: row;
}


.item{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 2;
	align-self: left;
}




img{
	object-fit: cover;

    width: 100%;
}
 
.level{
	color: purple;
    text-align: left;
}
 
.circle{
    fill: green;
    opacity: 50%;
    margin: 0 auto;
    position: relative;
}
 
.rect{
    fill: green;
    stroke: black;
    stroke-width: 5;
    margin: 0 auto;
    position: relative;
}
 
circle:hover {
    stroke: blue;
    stroke-width: 15;
}
 
rect:hover{
    fill: blue;
}
 
svg{
    width: 100%;
}
 
div{
    justify-content: space-evenly;
}



